<!DOCTYPE html>

<html>
    <head>
        <title>Online Elections: About</title>
    </head>

    <body>

        <h1> Welcome to Online Elections</h1>

        <h2>About:</h2>

        <p>
            Nobody likes to stand in lines - We have created this to allow South African citizens to vote with ease!
        </p>

        <p>
            Using this new online platform, voting is quick and election results can be verified safely.
        </p>
        
        <p>
            Sign up and vote for your <b>local and national</b> party that represents you.
        </p>
    </body>
    

</html>

