<!DOCTYPE html>

<html>
    <head>
        <title>Elections: Choices</title>
    </head>

    <body>
            <div class="row">
                <div class = "col-md-12">
                    <h1> {{question.question_text}}</h1>
                </div>
            </div>
    
            <div class="row">
                <div class = "col-md-12">
                    {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                    {% endif %}
                    <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                </div>
            </div>
    
                        <div class="row">
                            <div class = "col-md-12">
                                {% for choice in question.choice_set.all %}
                                <input type="radio" name="choice" id="choice {{
                                    forloop.counter
                                }}" value="{{ choice.id }}" />
                                <label for="choice {{ forloop.counter }}">
                                    {{ choice.choice_text }}
                                </label>
                                <br />
                                {% endfor %}
                            </div>
                        </div>
                
                        <div class="row">
                            <div class = "col-md-12">
                                <input type="submit" value="Vote" />
                            </div>
                        </div>

                    </form>

                    <br>
                    <a href="http://127.0.0.1:8000/poll">
                        <button>Back</button>
                      </a>
        
    </body>

</html>