<!DOCTYPE html>

<html>
    <head>
        <title>Online Elections: Home</title>
    </head>

    <body>

        <h1> Welcome to Online Elections</h1>

        <!-- About page: -->
        <a href = "http://127.0.0.1:8000/about">About</a>
        <br>
        <br>

        <!-- login: the login URL in the user_auth app -->
        <a href="http://127.0.0.1:8000/user_auth"> 
            <button>Login</button>
          </a>
        
        <br>
        <br>

        <!-- sign up: the signup URL in the user_auth app -->
        <a href="http://127.0.0.1:8000/user_auth/signup">
            <button>Sign up</button>
          </a>
        <br>
        <br>

        <!-- view polls: the login URL in the user_auth app -->
        <a href="http://127.0.0.1:8000/poll">
            <button>View poll</button>
          </a>
        
    </body>
    

</html>

